<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
  <Appenders>
    <Console name="LogToConsole" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <!-- avoid duplicated logs with additivity=false -->
    <AsyncLogger name="benchmark" level="debug" additivity="false">
      <AppenderRef ref="LogToConsole"/>
    </AsyncLogger>
    <Root level="IError">
      <AppenderRef ref="LogToConsole"/>
    </Root>
  </Loggers>
</Configuration>